/genericModule/nbproject/private/
/genericModule/build/
/GenericUVa/nbproject/private/
/GenericUVa/build/
/GenericUVa/dist/
/test/build/
/test/dist/
/test/nbproject/private/
/OutOfGas/build/
/OutOfGas/dist/
/OutOfGas/nbproject/private/
/JavaFXApplication1/nbproject/private/
/JavaApplication3/nbproject/private/
/BacktoHighSchoolPhysics/nbproject/private/
/BacktoHighSchoolPhysics/dist/
/BacktoHighSchoolPhysics/build/
/EcologicalBinPackage/nbproject/private/
/EcologicalBinPackage/build/
/EcologicalBinPackage/dist/
/TheDecoder/nbproject/private/
/TheDecoder/build/
/TheDecoder/dist/
/JollyJumpers/build/
/JollyJumpers/dist/
/JollyJumpers/nbproject/private/
/PrimaryArithmetic/nbproject/private/
/PrimaryArithmetic/dist/
/PrimaryArithmetic/build/
/UglyNumbers/nbproject/private/
/UglyNumbers/build/
/UglyNumbers/dist/
/DeliveryBoy/nbproject/private/
/DeliveryBoy/build/
/DeliveryBoy/dist/
/ LittleElephantandBombs/nbproject/private/
/ LittleElephantandBombs/build/
/ LittleElephantandBombs/dist/
/RangeOfData/nbproject/private/
/RangeOfData/build/
/RangeOfData/dist/
/MapMaker/dist/
/MapMaker/build/
/MapMaker/nbproject/private/
/MachinedSurfaces/nbproject/private/
/MachinedSurfaces/build/
/MachinedSurfaces/dist/
/MirrorMirror/nbproject/private/
/MirrorMirror/build/
/MirrorMirror/dist/
/SearchingQuickly/nbproject/private/
/SearchingQuickly/build/
/SearchingQuickly/dist/
/MetaLooplessSorts/build/
/MetaLooplessSorts/dist/
/MetaLooplessSorts/nbproject/private/
/StackOfFlapjacks/nbproject/private/
/StackOfFlapjacks/dist/
/StackOfFlapjacks/build/
/WordIndex/nbproject/private/
/WordIndex/dist/
/WordIndex/build/
/Argus/nbproject/private/
/Argus/build/
/Argus/dist/
/GraphConstruction/nbproject/private/
/GraphConstruction/build/
/GraphConstruction/dist/
/GraphConnectivity/nbproject/private/
/GraphConnectivity/dist/
/GraphConnectivity/build/
/HardwoodSpecies/nbproject/private/
/HardwoodSpecies/dist/
/HardwoodSpecies/build/
/NetworkConnections/build/
/NetworkConnections/dist/
/NetworkConnections/nbproject/private/